:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --input-border-color: #000;
}

.sr-only {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

body {
  margin: 0;
  font-family: var(--font-family);
}

main,
aside {
  padding: 50px;
}

.flex {
  display: flex;
}

#app {
  max-width: 80rem;
  margin: 0 auto;
  /* display: flex;
  flex-direction: row; */
}

/*
@media (max-width: 800px) {
  #app {
    flex-direction: column;
  }
} */

#toolbar {
  padding-top: 15px;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.column {
  display: flex;
}

.tri-column {
  display: flex;
}

@media (max-width: 800px) {
  .tri-column {
    flex-direction: column;
  }
}

.column-1,
.column-2 {
  padding-right: 30px;
}

section {
  margin-bottom: 10px;
}

.color-format {
  display: flex;
  justify-content: space-between;
}

.color-picker-field {
  display: flex;
  align-items: center;
}

input[type="text"] {
  display: inline-block;
  box-sizing: border-box;
  width: 220px;
  height: 44px;
  padding: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-left: 0;
  border-top-color: var(--input-border-color);
  border-right-color: var(--input-border-color);
  border-bottom-color: var(--input-border-color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fff;
  font: inherit;
  font-size: 1.2rem;
}

/* Eye droppers */
/* Color input */
#fg-eyedropper,
#bg-eyedropper {
  height: 44px;
  width: 44px;
  min-width: 44px;
  max-width: 44px;
  padding: 0;
  border-radius: 4px 0 0 4px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--input-border-color);
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #cecece;
  }

  svg path {
    fill: var(--input-border-color);
  }
}

.eyedropper-not-supported {
  border-radius: 4px 0 0 4px;
}

input[type="color"]:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  /* Dark inset shadow on hover */
}

input[type="color"] {
  cursor: pointer;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  width: 44px;
  padding: 0;
  border: 2px solid var(--input-border-color);
}

input[type=color i]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: 0;
}

input[type=color i]::-webkit-color-swatch {
  border-radius: 0;
  border: 0;
}

input[type=color i]::-moz-color-swatch {
  border-radius: 0;
  border: 0;
}

/* Ratio */

#preview,
#ratio-container {
  display: inline-block;
  margin-inline-start: 5px;
}

#preview svg {
  display: inline-block;
}

#preview,
#ratio {
  font-size: inherit;
  font-weight: 600;
  display: inline;
  border-radius: 5px;
  padding: 0 4px;
}

.divider {
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}

/* Preview area */
.card {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#normal {
  font-size: 17px;
  line-height: 1.1;
}

#large {
  font-size: 24px;
  line-height: 1.1;
}

#icons {
  line-height: 0;
}

#icons svg {
  display: inline-block;
  margin-inline-end: 20px;
}

/* Utilities */

.visually-hidden {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

/* PIP */
.non-pip {
  display: inline-block;
}

@media (display-mode: picture-in-picture) {

  #pip-only {
    padding: 20px;
  }

  h2 {
    font-size: 1.15rem;
  }

  #permalink {
    display: none;
  }

  .non-pip {
    display: none;
  }

  input[type="text"] {
    max-width: 130px;
  }
}

@media (display-mode: picture-in-picture) and (prefers-color-scheme: light) {
  body {
    background: white;
  }
}

@media (display-mode: picture-in-picture) and (prefers-color-scheme: dark) {
  body {
    background: #333;
  }

  a {
    color: antiquewhite;
  }
}

#pip-toggle {
  bottom: 15px;
  right: 15px;
  position: fixed;
}